/* new styles
    purple: #6c49ed;
    pink: #cd34b9;
    orange: #ff6e49;
    footer: #13183e; (blue)

*/

/****************************************** tags *******************************************/

body{        /*the whole body of the webiste*/
    margin: 0;
    padding: 0;
    background-color: rgb(38, 206, 247);
    /* overflow: hidden; */
}

button{   /*All The Buttons in website*/
    background-color: #13183e;
    border: none;
    border-radius: 30px;
    color: #ffff;
    text-align: center;
}
button:hover{  /*For all buttons ON HOVER*/
    transition: 0.5s ease ;
    box-shadow: 0 4px 15px 0 rgb(255, 255, 255);
}

td{   /*For all the table data*/
    padding-left: 20px;
}

p{    /*For all the p tags*/
    color: #ff6e49;
}

h1{         /*For all the h1 tags*/
    color: #ffffff;
    font-family: 'Pacifico', cursive;
}

<<<<<<< HEAD
textarea{
    overflow: hidden;
}

textarea:hover{
    box-shadow: 0 4px 15px 0 rgba(205,52,185, 0.75);
}

textarea:focus{
=======
h2{         /*For all the h2 tags*/
    margin:  auto;
    text-align: center;
    border-radius: 15px;
    width: 500px;
    font-family: 'Shantell Sans', cursive;
    color: #fff;
    background: linear-gradient(90deg, rgba(255,110,73,1) 0%, rgba(205,52,185,1) 100%);
}
h3{         /*for the heading of how to use*/
    margin:  auto;
    text-align: center;
    border-radius: 15px;
    width: 500px;
}


textarea{       /*For the text area in the summary section*/
    overflow: hidden;
    vertical-align: center;
}
input{              /*For the input area in the summary section*/
    border: none;
}

input:hover{        /*For the input ON HOVER*/
    box-shadow: 0 4px 15px 0 rgba(74, 90, 214, 0.75);
}
input:focus{        /*For the input ON FOCUS*/
    box-shadow: 0 4px 15px 0 rgba(255, 110, 73, 1);
}

textarea:hover{     /*For the text area ON HOVER*/
    box-shadow: 0 4px 15px 0 rgba(205,52,185, 0.75);
}

textarea:focus{         /*For the text area ON FOCUS*/
>>>>>>> 62a54df065f95e2fb4cc131c785a27538346d512
    box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 1);
}


/****************************************** Class *******************************************/


<<<<<<< HEAD
.navbar{
    background-color: #fff;
}

.image{
=======
.navbar{             /*For the navbar class at the top*/
    background-color: #13183e;
}
.navbar h1{
    color: white
}

.main{
    background-color: #13183e;
}
.main h1{
    background: -webkit-linear-gradient(90deg, rgba(255,110,73,1) 0%, rgba(205,52,185,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.image{     /*For the image class in the home (the gif)*/
>>>>>>> 62a54df065f95e2fb4cc131c785a27538346d512
    position: absolute;
    top: 20px;
    right: 5vw;
    height: 400px;
}

.explore{           /*For the button in the home component*/
    margin-left: 200px;
    background: rgb(255,110,73);
    /* background: linear-gradient(90deg, rgba(255,110,73,1) 0%, rgba(205,52,185,1) 100%); */
}

.explore:hover{
    transition: 0.1s  ease-in;
    box-shadow: 0 4px 15px 0 rgba(19, 24, 62, 1);
}

#popup-1.popup-content{
    background-color: #ffffff;
    border: none;
    height:auto;
}

.popup-content{
    margin: 0;
    padding: 0;
    width: 30vw;
    height:auto;
    border-radius: 25px;
    display: "flex";
    justify-content: "center";
    align-items: "center";
}

.popup-content h2{
    margin: 10px;
    font-size: 40px;
    border-radius: 15px;
    font-family: 'Shantell Sans', cursive;
    background: #ffffff ;
    color: black;

}
.popup-content button{
    font-size : 35px;
    color: #fff;
}

.popup-content button{
    background-color: #fff;
    font-size: 34px;
    color: #cd34b9 ;
}

.popup-content button:hover{
    transition: 0.1s ease-in;
    font-size: 38px;
}

.features{
    background-color: rgba(38, 206, 247,0.2);
    height: 100vh;
}

/* .explore:hover{
    transition: 0.1s  ease-in;
    box-shadow: 0 4px 15px 0 rgba(19, 24, 62, 1);
} */


.popup-content{     /*For the login popup in the home component*/
    margin: 0;
    padding: 0;
    width: 30vw;
    height:auto;
    border-radius: 25px;
    display: "flex";
    justify-content: "center";
    align-items: "center";
}

.popup-content h2{      /*For the heading in the login popup in the home component*/
    margin: 10px;
    font-size: 40px;
    border-radius: 15px;
    font-family: 'Shantell Sans', cursive;
    background: #ffffff ;
    color: black;

}
.popup-content button{      /*For the button in the login popup in the home component*/
    font-size : 35px;
    color: #fff;
}

.popup-content button{      /*For the button in the login popup in the home component*/
    background-color: #fff;
    font-size: 34px;
    padding-bottom: 10px;
    border-radius: 15px;
    color: #cd34b9 ;
}

.popup-content button:hover{    /*For the button ON HOVER in the login popup in the home component*/
    transition: 0.1s ease-in;
    font-size: 38px;
}

.about{
    color: white;
}

.about h3{
    font-size: 60px;
    color: #ff6e49;
}

.card:hover{
    transition: 0.5s ease-in;
    box-shadow: 0 4px 15px 0 rgba(255, 110, 73, 1);
}

.card img{
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.features{              /*For the Features component*/
    /* background-color: #2B368A; */
    background-color: rgba(38, 206, 247,0.2);
    height: auto;
}


.login{                 /*For the Login component*/
    height: 100vh;
    background-color: rgba(38, 206, 247,0.2);
    text-align: center;
}

.summary{       /*For the Summary component*/
    background-color: #13183e;
    text-align: center;
}

.submitBtn{          /*For the submit button in Summary component*/
    color: #fff;
    background: linear-gradient(90deg, rgba(255,110,73,1) 0%, rgba(205,52,185,1) 100%);
<<<<<<< HEAD
}



.login{
    height: 100vh;
    background-color: #fff;
}

.summary{
    height: 100vh;
    background-color: #13183e;
    text-align: center;
}


.submitBtn{
    color: #fff;
    background: linear-gradient(90deg, rgba(255,110,73,1) 0%, rgba(205,52,185,1) 100%);
=======
>>>>>>> 62a54df065f95e2fb4cc131c785a27538346d512
    /* box-shadow: 0 4px 15px 0 rgba(205,52,185, 0.75); */
    border-radius: 25px;
    height: 20vh;
    width: 20vw;
    font-size: 50px;
    font-family: 'Shantell Sans', cursive;
    margin-top: 15px;
}
<<<<<<< HEAD
.submitBtn:hover{
=======
.submitBtn:hover{           /*For the submit button ON HOVER in Summary component*/
>>>>>>> 62a54df065f95e2fb4cc131c785a27538346d512
    transition: 0.5s ease;
    /* box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 1); */
    box-shadow: 0 4px 15px 0 rgba(205,52,185, 0.75);
}
<<<<<<< HEAD
.submitBtn:focus{
=======
.submitBtn:focus{           /*For the submit button ON FOCUS in Summary component*/
>>>>>>> 62a54df065f95e2fb4cc131c785a27538346d512
    box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 1);
}

.loginInput{                   /*For the login input in login component*/
    border-radius: 25px;
    padding: 100px;
    background-color: rgba(255, 255, 255,0.75);
}

.footer{            /*For the Footer component*/
    color: #ffff;
    background-color: #6c49ed;
    height: 30px;   
    text-align: center;
}

<<<<<<< HEAD
/****************************************** ID *******************************************/
=======


/****************************************** ID *******************************************/


#popup-1.popup-content{  /*For the login popup in the home component*/
    background-color: #ffffff;
    border: none;
    height:auto;
}


>>>>>>> 62a54df065f95e2fb4cc131c785a27538346d512
