/* new styles
    purple: #6c49ed;
    pink: #cd34b9;
    orange: #ff6e49;
    footer: #13183e; (blue)

*/

/****************************************** tags *******************************************/

body{
    margin: 0;
    padding: 0;
    background-color: rgb(38, 206, 247);
    /* overflow: hidden; */
}

button{
    background-color: #13183e;
    border: none;
    border-radius: 30px;
    color: #ffff;
    text-align: center;
}

td{
    padding-left: 20px;
}

p{
    color: #ff6e49;
}

h1{
    color: #383b4e;
    font-family: 'Pacifico', cursive;
}

textarea:hover{
    box-shadow: 0 4px 15px 0 rgba(205,52,185, 0.75);
}

textarea:focus{
    box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 1);
}


/****************************************** Class *******************************************/


.navbar{
    background-color: #fff;
}

.image{
    position: absolute;
    top: 20px;
    right: 5vw;
    height: 400px;
    /* border-radius: 100px;
    background: rgb(205,52,185);
    background: linear-gradient(90deg, rgba(205,52,185,1) 0%, rgba(255,110,73,1) 100%); */
}

.explore{
    margin-left: 200px;
    background: rgb(255,110,73);
    /* background: linear-gradient(90deg, rgba(255,110,73,1) 0%, rgba(205,52,185,1) 100%); */
}

.explore:hover{
    transition: 0.1s  ease-in;
    box-shadow: 0 4px 15px 0 rgba(19, 24, 62, 1);
}

#popup-1.popup-content{
    background-color: #ffffff;
    border: none;
    height:auto;
}

.popup-content{
    margin: 0;
    padding: 0;
    width: 30vw;
    height:auto;
    border-radius: 25px;
    display: "flex";
    justify-content: "center";
    align-items: "center";
}

.popup-content h2{
    margin: 10px;
    font-size: 40px;
    border-radius: 15px;
    font-family: 'Shantell Sans', cursive;
    background: #ffffff ;
    color: black;

}
.popup-content button{
    font-size : 35px;
    color: #fff;
}

.popup-content button{
    background-color: #fff;
    font-size: 34px;
    color: #cd34b9 ;
}

.popup-content button:hover{
    transition: 0.1s ease-in;
    font-size: 38px;
}

.features{
    background-color: rgba(38, 206, 247,0.2);
    height: 100vh;
}

.toolsheading {
    border-radius: 15px;
    width: 10vw;
    height: 10vh;
    margin: 15vh auto;
    text-align: center;
    font-family: 'Shantell Sans', cursive;
    color: #fff;
    background: linear-gradient(90deg, rgba(255,110,73,1) 0%, rgba(205,52,185,1) 100%);
}



.login{
    height: 100vh;
    background-color: #fff;
}

.summary{
    height: 100vh;
    background-color: #13183e;
}


.submitBtn{
    color: #fff;
    background: linear-gradient(90deg, rgba(255,110,73,1) 0%, rgba(205,52,185,1) 100%);
    /* box-shadow: 0 4px 15px 0 rgba(205,52,185, 0.75); */
    border-radius: 25px;
    height: 20vh;
    width: 20vw;
    font-size: 50px;
    font-family: 'Shantell Sans', cursive;
    position: relative;
    top: 25vh;
    left: 15vw;
}
.submitBtn:hover{
    transition: 0.5s ease;
    /* box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 1); */
    box-shadow: 0 4px 15px 0 rgba(205,52,185, 0.75);
}
.submitBtn:focus{
    box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 1);
}

.footer{
    color: #ffff;
    background-color: #13183e;
    height: 30px;   
    text-align: center;
}

/****************************************** ID *******************************************/
