/* new styles
    purple: #6c49ed;
    pink: #cd34b9;
    orange: #ff6e49;
    footer: #13183e; (blue)

*/

@keyframes wave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}


/****************************************** tags *******************************************/

body {
  /*the whole body of the webiste*/
  margin: 0;
  padding: 0;
  background-color: #26cef7;
  /* overflow: hidden; */
}

button {
  /*All The Buttons in website*/
  background-color: #13183e;
  border: none;
  border-radius: 30px;
  color: #ffff;
  text-align: center;
}
button:hover {
  /*For all buttons ON HOVER*/
  transition: 0.5s ease;
  box-shadow: 0 4px 15px 0 rgb(255, 255, 255);
}

td {
  /*For all the table data*/
  padding-left: 20px;
}

p {
  /*For all the p tags*/
  color: #ff6e49;
  text-align: center;
}

h1 {
  /*For all the h1 tags*/
  color: red;
  /* font-family: 'Pacifico', cursive; */
  font-family: "Montserrat", sans-serif;
}

h2 {
  /*For all the h2 tags*/
  margin: auto;
  text-align: center;
  border-radius: 15px;
  width: 500px;
  font-family: "Shantell Sans", cursive;
  color: #fff;
  /* background: linear-gradient(90deg, rgba(255,110,73,1) 0%, rgba(205,52,185,1) 100%); */
}
h3 {
  /*for the heading of how to use*/
  margin: auto;
  text-align: center;
  border-radius: 15px;
}
h5{
  font-family: 'Maven Pro', sans-serif;
}

textarea {
  /*For the text area in the summary section*/
  overflow: hidden;
  vertical-align: center;
  border: "1px solid";
  border-color: rgb(82, 207, 73);
  border-radius: 10px;
}
.scroll::-webkit-scrollbar {
  display: none;    /*to make scroll invisible*/
}

input {
  /*For the input area in the summary section*/
  border: none;
}

input:hover {
  /*For the input ON HOVER*/
  box-shadow: 0 4px 15px 0 rgba(74, 90, 214, 0.75);
}
input:focus {
  /*For the input ON FOCUS*/
  box-shadow: 0 4px 15px 0 rgba(255, 110, 73, 1);
}

textarea:hover {
  /*For the text area ON HOVER*/
  box-shadow: 0 4px 15px 0 #609966;
  border-color: #5D9C59;
}

textarea:focus {
  /*For the text area ON FOCUS*/
  box-shadow: 0 4px 15px 0 #609966;
  border-color: #5D9C59;
}

h4{
  text-align: left;
}

#poemTheme{
  color: #fff;
}

form{
  margin: 20px;
}


output:hover{
  box-shadow: 0 4px 15px 0 #2192FF;
  border-color: #264980;
}

ul{
  text-align: center;
  list-style: none;
}

li{
  color: #fff;
  text-align: center;
  /* border-radius: 20px; */
  /* max-width: 100px; 
  max-height: 30px; */
}
/****************************************** Class *******************************************/

/* .row .col{
  padding: 0;
} */

.navbar {
  /*For the navbar class at the top*/
  margin: 0 !important;
  /* background-color: #13183e; */
   background-color: #0093E9;
  background: linear-gradient(160deg, #0093E9 0%, #80d0c7 100%);
}
.navbar h1 {
  color: white;
}

.loginNavbar{
  background-color: #fff;
  color: #0093E9;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 22px;
}

.loginNavbar:hover{
  border-radius: 25px;
  transition: 0.3s;
}

.pipeline1{ /*for summary -> audio and translate*/
  color: #2AF598;
  font-family: 'Dongle', sans-serif;
  /* font-weight: 700; */
}

.pipeline1:hover{ /*for summary -> audio and translate*/
  color: #0093E9;
}

.main {
  background-color: #ffffff;
}
/* .main h1 {
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 110, 73, 1) 0%,
    rgba(205, 52, 185, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.main .heading {
   background-color: #0093E9;
  background: linear-gradient(160deg, #0093E9 0%, #80d0c7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background: -webkit-linear-gradient(
    90deg,
    rgba(255, 110, 73, 1) 0%,
    rgba(205, 52, 185, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}


.image {
  /*For the image class in the home (the gif)*/
  border-radius: 15px;
  background-color: #fff;
  position: absolute;
  top: 20px;
  right: 5vw;
  height: 400px;
}

.explore {
  /*For the button in the home component*/
  margin-left: 200px;
   /* background-color: #0093E9; */
  background: linear-gradient(160deg, #0093E9 0%, #80d0c7 100%);
  /* background: rgb(255, 110, 73);
  background: linear-gradient(
    90deg,
    rgba(255, 110, 73, 1) 0%,
    rgba(205, 52, 185, 1) 100%
  ); */
}

/* .explore:hover{
    transition: 0.1s  ease-in;
    box-shadow: 0 4px 15px 0 rgba(19, 24, 62, 1);
} */

#popup-1.popup-content {
  background-color: #ffffff;
  border: none;
  height: auto;
}

.popup-content {
  margin: 0;
  padding: 0;
  width: 30vw;
  height: auto;
  border-radius: 25px;
  display: "flex";
  justify-content: "center";
  align-items: "center";
}

.popup-content h2 {
  margin: 10px;
  font-size: 40px;
  border-radius: 15px;
  font-family: "Shantell Sans", cursive;
  background: #ffffff;
  color: black;
}
.popup-content button {
  font-size: 35px;
  color: #fff;
}

.popup-content button {
  background-color: #fff;
  font-size: 34px;
  color: #cd34b9;
}

.popup-content button:hover {
  transition: 0.1s ease-in;
  font-size: 38px;
}

/* .features {
  
  background-color: rgba(38, 206, 247, 0.2);
  height: 100vh;
} */

/* .explore:hover{
    transition: 0.1s  ease-in;
    box-shadow: 0 4px 15px 0 rgba(19, 24, 62, 1);
} */

.popup-content {
  /*For the login popup in the home component*/
  margin: 0;
  padding: 0;
  width: 30vw;
  height: auto;
  border-radius: 25px;
  display: "flex";
  justify-content: "center";
  align-items: "center";
}

.popup-content h2 {
  /*For the heading in the login popup in the home component*/
  margin: 10px;
  font-size: 40px;
  border-radius: 15px;
  font-family: "Shantell Sans", cursive;
  background: #ffffff;
  color: black;
}
.popup-content button {
  /*For the button in the login popup in the home component*/
  font-size: 35px;
  color: #fff;
}

.popup-content button {
  /*For the button in the login popup in the home component*/
  background-color: #fff;
  font-size: 34px;
  padding-bottom: 10px;
  border-radius: 15px;
  color: #cd34b9;
}

.popup-content button:hover {
  /*For the button ON HOVER in the login popup in the home component*/
  transition: 0.1s ease-in;
  font-size: 38px;
}

.about {
  color: white;
  background-color: #13183e;
}

.about h3 {
  font-size: 60px;
  color: #ff6e49;
}

.Tools{
  height: auto;
}

.Tools .col{
  padding: 0;
}

.Tools li{
  padding: 5px;
  font-size: 20px;
  margin: 20px 5px ;
  color: white;
  text-decoration: none;
  height: auto;
  width: auto;
  border-radius: 5px;
}
.tList{
  margin: 30px;
  padding-left: 10px;
  border-radius: 5px;
  background-color: #13183e94;
}


.toolTitleCollapsed{
  display: none;
}

.toolTitle{
  color: #fff;
  text-decoration: none;
  width: auto;
  border-radius: 5px;
  /* transition: all 1s ease;
  transition-property: width;

  transition-duration: 1s; 
  transition-timing-function: linear;  */
}

.toolList{
  /* background-color: #dae3f3; */
  /* background-color: rgba(255, 255, 255,0.5); */
  /* background-color: #26cdf74b; */
  background-color: #0093E9;
  background: linear-gradient(160deg, #80d0c7 0%, #0093E9 100%);
}

.form-select{   /*For file type slection*/
  background-color: rgb(0, 147, 233);
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}


/* .Tools li:hover{
  border-radius: 20px;
  background-color: #26cef733;
  transition: 0.2s ease-in;
} */

.card:hover {
  transition: 0.5s ease-in;
  box-shadow: 0 4px 15px 0 rgba(255, 110, 73, 1);
}

.card img {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}


.features {
  /*For the Features component*/
  /* background-color: #2B368A; */
  background-color: rgba(33, 146, 255,0.8);
  /* background-color: #26cef733; */
  height: auto;
}

.tools{
  background-color: #ffffffb0;
  border-radius: 25px;
  padding: 30px;
  margin: 10px 5px;
}

.tools h3{
  opacity: 0.5;
}

.tools p{
  opacity: 0.5;
}

.toolsimg{
  opacity: 0.5;
}

.tools:hover{
  background-color: #fff;
  animation: shake 1s;
  transition: all 1s ease;
}

.tools:hover h3{
  opacity: 1;
  transition: all 1s ease;
}

.tools:hover .toolsimg{
  opacity: 1;
  transition: all 1s ease;
}

.tools:hover p{
  opacity: 1;
  transition: all 1s ease;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  /* 20%, 80% {
    transform: translate3d(2px, 0, 0);
  } */
  
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
}
}

.img-fluid {
  height: 100%;
  width: 100%;
}

.login {
  /*For the Login component*/
  height: 100vh;
  background-color: rgba(38, 206, 247, 0.2);
  text-align: center;
}

.summary {
  /*For the Summary component*/
  /* background-color: #13183e; */
  /* background-color: #fff; */
  background-color: #26cdf74b;
  background-blend-mode: lighten;
  text-align: center;
  height: auto;
}

.poemTheme{
  text-align: center;
  width: 100px;
  height: 30px;
  border-radius: 20px;
}

#poemDownload{
  width: auto;
  height: auto;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

.imgUpload .col {
  /*For the col inside the image upload comp*/
  background-color: "#dae3f3" ;
  padding: 0;
  align-content: center;
}

.submitBtn {
  /*For the submit button in Summary component*/
  color: #fff;
  background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  /* box-shadow: 0 4px 15px 0 rgba(205,52,185, 0.75); */
  border-radius: 10px;
  font-size: 22px;
  padding: 10px;
  margin-top: 15px;
}
.submitBtn:hover {
  /*For the submit button ON HOVER in Summary component*/
  transition: 0.5s ease;
  /* box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 1); */
  box-shadow: 0 4px 10px 0 #2192FF;
}
.submitBtn:focus {
  /*For the submit button ON FOCUS in Summary component*/
  box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 1);
}

.submitBtnDisable {
  color: #fff;
  border-radius: 25px;
  font-family: "Shantell Sans", cursive;
  margin-top: 15px;
  content: "Processing";
}

.carou_image {
  width: 70vw;
  height: 70vh;
  margin: auto;
  padding: 10px;
}

.poster {
  position: relative;
  text-align: center;
  color: white;
  /* height: auto; */
}

.poster img {
  border-radius: 25px;
  height: auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0000004d;
  border-radius: 25px;
  width: 60vw;
  /* height: auto; */
}

/* .centered h6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff4d;
    border-radius: 25px;
    height: auto;
} */

.loginInput {
  /*For the login input in login component*/
  border-radius: 25px;
  padding: 100px;
  background-color: rgba(255, 255, 255, 0.75);
}

.footer {
  /*For the Footer component*/
  color: #ffff;
  background-color: rgb(19, 24, 62);
  /* height: 30px; */
  text-align: center;
}

.footer col{
  padding: 0%;
  margin: auto;
}

.footerHeading{
  color: #cd34b9;
  text-align: center;
  margin-top: -50px;
}

.footerHeading:hover{
  color: #ff6e49;
}

hr{
  color: #fff;
  height: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  
}

/****************************************** ID *******************************************/
#Saavaad{
  font-family: 'Dongle', sans-serif;
  font-weight: 700;
  font-size: 50px;
}

#quote{
  font-family: 'Merriweather', serif;
}


#heading{
  /* background-color: #0093E9; */
  /* background-color: #08AEEA; */
  background: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  /* background: linear-gradient(160deg, #0093E9 0%, #80d0c7 100%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-family: 'Dongle', sans-serif;
  font-weight: 700;
}

#fileUplaodImg{
  height: 50px;
}

#customText:hover{
  color:#cd34b9;
}

#gobtn{ /*for sending the image (Uplaod image)*/
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#copyRes{
   background-color: white;
   color: #26cef7;
   width: 50px;
   border-radius: 10px;
   border-color: #08AEEA;
   border: 1px solid;
}

.imgUpload .col #fileUpload {
  /*For file upload button*/
  color: #ffffff;
  background: #13183e;
  padding: 10px;
  /* height: 50px; */
  font-size: 22px;
  /* font-family: "Shantell Sans", cursive; */
  border-radius: 15px;
}

.imgUpload .col #fileUpload:hover {
  /*For the file upload button ON HOVER*/
  transition: 0.5s ease-in;
  /* background: linear-gradient(
    90deg,
    rgba(205, 52, 185, 1) 0%,
    rgba(255, 110, 73, 1) 100%
  ); */
  box-shadow: 0 4px 25px 0 rgba(255, 255, 255, 0.75);
}

/*Animate the button hover*/

.imgUpload input#file-upload-button {
  height: 50px;
}

.modal-header {
  /*For the login popup(MOdal)*/
  background: linear-gradient(
    90deg,
    rgba(255, 110, 73, 1) 0%,
    rgba(205, 52, 185, 1) 100%
  );
}

.modal-title h2 {
  font-size: 50px;
  color: #fff;
}

.modal-body h5 button {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 110, 73, 1) 0%,
    rgba(205, 52, 185, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.modal-header .btn-close {
  visibility: hidden;
}


.decorationL {
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: 2;
  /* float: left; */
  left: 300px;
  /* rotate: -30deg; */
  /* visibility: hidden; */
}

.decorationR {
  height: 100px;
  width: 100px;
  /* position: absolute; */
  z-index: 2;
  /* float: right; */
  right: 300px;
  /* rotate: 30deg; */
  /* visibility: hidden; */
}
